
@media (max-width: 576px) {

    .button{
        border-radius: 10px;
        padding: 5px 10px;
    }
    .button a{
        font-size: 12px;
    }

    .main_content{
        padding-top: 50px;
    }
    .content h1{
        font-weight: bold;
        font-size: 50px;
    }

    .main_card_content{
        height: 240px;
        width: 240px;
        margin: auto;
    }
    .heading{
        font-size: 20px !important;
    }

    .card{
        width: 15rem !important;
        margin: auto;
    }

    .image{
        width: 50%;
    }
    .content p{
        font-size: 13px;
        line-height: 20px;
    }

    .footer_para{
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 30px;
    }

    .footer_link a{
        font-size: 12px;
    }

}

@media (min-width: 576px) and (max-width:767px) { 
    .main_card_content{
        margin: auto;
    }
    .card{
        margin: auto;
    }

    .main_content{
        padding-top: 80px;
    }

    .image{
        width: 50%;
    }

    .content p{
        font-size: 15px;
        line-height: 28px;
    }
 }


@media (min-width: 768px)and (max-width: 991px) { 

    .content h1{
        font-size: 35px;
    }
    .card{
        width: 20rem !important;
    }


    .image{
        width: 50%;
    }

    .footer_para{
        font-size: 16px;
        line-height: 28px;
    }


 }


@media (min-width: 992px) and (max-width: 1199px) { 

    .content h1{
        font-size: 50px;
    }
    .main_card_content{
        height: 220px;
        width: 220px;
    }
    .card{
        width: 18rem !important;
    }


}


@media (min-width: 1200px) and (max-width: 1399px) { 

    .main_card_content{
        height: 270px;
        width: 270px;
    }

    .card{
        width: 22rem;
    }

 }


@media (min-width: 1400px) { }